{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(form) }}
    {% endif %}

    <h3>All comments</h3>
    {% for comment in episode.comments|sort %}
        <div>
            <h6>{{ comment.author.email }} ({{ comment.rate }}/5)</h6>
            <p>{{ comment.comment }}</p>
        </div>
    {% endfor %}


    <a href="{{ path('episode_index') }}">back to list</a>

    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
