{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>
    <h3>{{ actor.name }}</h3>
                <ul>
                    {% for serie in actor.programs %}
                        <a href="{{ path('program_show', {'slug': serie.slug}) }}"><li>{{ serie.title }}</li></a>
                    {% endfor %}

                </ul>

    <a href="{{ path('actor_index') }}">back to list</a>

    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
